langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
requests
beautifulsoup4
langchain_groq
langchain_community
langchain_huggingface
langchain_google_genai
langchain-tavily
sentence-transformers
langchain-cli
-e .