langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_experimental
langchain_community
langchain_huggingface
langchain-tavily
sentence-transformers
gunicorn
langchain-core
python-dotenv
langchain-google-genai
-e .